@import url("https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&display=swap");

:root {
  --white-color: #f8f9fa;
  --black-color: #212529;
  --grey-color: #6c757d;
  --off-white-color: #f9f9fa;
  --orbit: "Orbit";
  --outfit: "Outfit";
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
  overflow-x: hidden;
}

main {
  height: 100%;
  margin: 1rem 2rem;
}

/* about section starts*/

#about {
  padding: 10px 20px;
  background: var(--white-color);
  font-family: var(--outfit);
  margin-top: 3rem;
}

.about-container {
  margin-top: 10px ;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  gap: 60px;
}
.intro h2 {
  font-weight: 500;
  font-size: 2.5rem;
}



.intro .tag {
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 9999px;
  margin-bottom: 10px;
  border: 2px solid #000;
  font-weight: 500;
  background: linear linear-gradient(to right, #000 50%, #fff 50%);
  color: #000;
  background-size: 200% 100% ;
  background-position: right bottom;
  transition: all 0.4s ease;
  font-family: var(--outfit);
}
.intro .tag:hover {
  background-position: left bottom;
  color: #fff;
}
iframe {
  border-radius: 30px;
  margin-top: 2rem;
}

.grid {
  margin-top: 5rem;
  
}
.kuchh-bhi {
  margin-top: 5rem;
  margin-left: 2rem;
}
.kuchh-bhi h1 {
  font-size: 5rem;
}
.noKuchh {
  margin-top: 5.5rem;
  margin-left: 2rem;
}
.noKuchh h1 {

  font-size: 5rem;
}

/*about section khatam*/

/* Servise section  */
/* Section Styling */
#services {
  padding: 10px 20px;
  background: var(--white-color);
  font-family: var(--outfit);
  margin-top: 3rem;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
  gap: 60px;
}

/* Left Part */
/* .services-intro {
  flex: 1;
} */

.services-intro .tag {
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 9999px;
  margin-bottom: 10px;
  border: 2px solid #000;
  font-weight: 500;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  color: #000;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease;
  font-family: var(--outfit);
}

.services-intro .tag:hover {
  background-position: left bottom;
  color: #fff;
}

.services-intro h2 {
  font-size: 42px;
  margin: 15px 0;
  font-weight:400;
}

.services-intro p {
  margin-bottom: 20px;
  color: var(--black-color);
}

.services-intro .btn {
  display: inline-block;
  background: #000;
  color: var(--white-color);
  padding: 12px 28px;
  border-radius: 9999px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.services-intro .btn:hover {
  background: var(--grey-color);
  transform: translateY(-2px);
}

/* Right Part */
.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  justify-items: center;
}

.card {
  background: var(--off-white-color);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid var(--grey-color);
  transition: all 0.3s ease;
  min-height: 210px;
  /* min-width:px; */
  width: 85%;
  position: relative;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  padding-top: 20px;
}

.card h3::before {
  content: "";
  position: absolute;
  top: 0; /* bilkul upar */
  left: 0;
  width: 40px; /* line ki length */
  height: 2px; /* line ki thickness */
  background: #000; /* line ka color */
  border-radius: 2px;
}

.card p {
  font-size: 15px;
  line-height: 1.5;
  color: var(--grey-color);
  margin: 0;
}

.card i {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  color: #000;
  cursor: pointer;
}

.card.dark {
  background: #000;
  color: var(--white-color);
}

.card.dark i {
  color: white;
}

.card.dark h3::before {
  background: #fff; /* white line for dark background */
}

.card:hover {
  transform: translateY(-5px);
}

.card.dark {
  min-height: 250px;
}

/* hero section  */

.hero {
  height: 100dvh;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: var(--outfit);
  font-size: 2rem;
}

nav a {
  font-family: var(--outfit);
  color: var(--black-color);
  text-decoration: none;
  font-size: 1.25rem;
}

.btn {
  background-color: transparent;
  color: var(--black-color);
  border: 2px solid var(--black-color);
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  font-family: var(--outfit);
  border-radius: 5rem;
  text-decoration: none;
}

.hero-cont {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.text-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding-bottom: 3rem;
}

.text-box h1 {
  font-family: var(--outfit);
  color: var(--black-color);
  font-size: 12.5rem;
  font-weight: 250;
  line-height: 1;
}

.img-box {
  width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
}

.img-cont img {
  width: 17.5rem;
  border-radius: 1rem;
}

.text-cont {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.text-cont p {
  font-family: var(--outfit);
  color: var(--black-color);
  text-align: right;
  font-size: 1.5rem;
}

.slide {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
  display: flex;
}


/* portfolio */
.parent{
  max-width:1400px;
  margin:0 auto;
  padding : 10px 20px;
  /* text-align:center; */
  font-family:var(--outfit);
}

.badge {
    display: inline-block;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 9999px;
  margin-bottom: 10px;
  border: 2px solid #000;
  font-weight: 500;
  background: linear-gradient(to right, #000 50%, #fff 50%);
  color: #000;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease;
  font-family: var(--outfit);
}

.badge:hover {
  background-position: left bottom;
  color: #fff;
}


h1 {
  font-size: 40px;
  margin-bottom: 6px;
  font-weight:400;
  line-height:1.2;
  margin-bottom: 10px;
}

.subtitle {
  color: var(--grey-color);
  margin-bottom: 40px;
  line-height:1.6;
  font-size: 18px;
  margin-left:65rem;
}

.portfolio-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  gap:16px;
  justify-content: center;
}



.portfolio-grid img{
  width:100%;
  border-radius:12px;
   aspect-ratio: 16/9;
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.1);
  height :220px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-grid img:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.testimonial {
  position: relative;
  margin-top: 100px;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonial::before {
   content: "“";
  font-size: 15rem;             
  color: rgba(0, 0, 0, 0.05);    
  position: absolute;
  top: -70px;                   
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;                   
  font-family: Georgia, serif;   
  font-weight: bold;
  line-height: 1;
}

.testimonial p{
  text-align: center;
    font-family: "Georgia", "Times New Roman", serif; /* original classy serif */
  font-size: 20px;        /* thoda bada */
  font-style: italic;     /* testimonial feel */
  color: #555;            /* halka grey, black se soft */
  line-height: 1.8;       /* relaxed spacing */
  letter-spacing: 0.3px;  /* thoda open */
  margin-bottom: 30px;
  font-weight:200;
}

.testimonial-footer {
   margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
   /* text-align: left;    */
     position: relative; /* line ke liye anchor */

}

.testimonial footer::before {
  content: "";
  position: absolute;
  top: -20px; /* image ke upar line */
  left: 50%;
  transform: translateX(-50%);
  width: 650px;       /* line ki width */
  height: 2px;       /* line ki motai */
  background: #ccc;  /* halka grey line */
  border-radius: 2px;
}

.testimonial img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-footer strong {
  font-weight: bold;
  display: block;
}

.testimonial-footer span {
  font-size: 14px;
  color: #777;
  display: block;
}