@import url("https://fonts.googleapis.com/css2?family=Orbit&family=Outfit:wght@100..900&display=swap");

:root {
  --white-color: #f8f9fa;
  --black-color: #212529;
  --grey-color: #adb5bd;
  --orbit: "Orbit";
  --outfit: "Outfit";
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);
}

main {
  background-color: aqua;
}

h1 {
  font-family: var(--outfit);
}
